body {font-family:Verdana, Arial, sans-serif;
    background-color: #4b2604;
}

#wrapper { 
    background-color: #075d97;
}

.top {
    padding:0 50px 0 50px;
}
#navigation {
    background-color: #075d97;
    
}

#main-content {
    background-color: #4b2604;
}

footer {
    background-color: #4b2604;
}

#shoppingcart{
    position: fixed;
    top: 10px;
    right: 10px;
}


.tablenav_ext{
    min-width: 400px;
}

.tablenav{
    background-color: #e5f1fc;
    width: 500%;
    min-width: 300px;
    text-align: center;
}

.tablenav td {
    padding: 10px 10px;
}
